@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2 class="display-4">ViewData <strong> @ViewData["Name"].ToString()</strong> </h2>
    <br />
    @*<h2 class="display-4">ViewBag : - @ViewBag.LastName</h2>*@
    <br />
    @*<h1 class="display-4">Data From View Data @TempData["Name"].ToString()</h1>*@

</div>
